@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
    background-color: black;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #121212, #1C1C1C);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: "Jetbrains mono";
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 100px;
}

h1,
h2,
h3 {
    color: #FFFFFF;
    margin-bottom: 4px;
}

p {
    color: #E0E0E0;
    margin-top: 3px;
}

.discord:hover {
    transform: scale(1.03);
  }

.pages {
    background-color: #121212;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40px;
}

.arch {
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.pages a {
    color: white;
    text-decoration: none;
}

.card, 
.project1 {
    background-color: #242424;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    margin: 8px;
    width: 50%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    width: 51%;
    transform: scale(1.01);
}

a {
    color: #9cdbfb;
}

.project1 {
    width: 47%;
}

.project1:hover {
    width: 48%;
    transform: scale(1.01);
}

.selected {
    border-bottom: 2px solid #ffffff;
}

.pages a {
    transition: all 0.1s ease-in-out;
}

.pages a:hover {
    transform: scale(1.02);
}

@media (width <= 600px) {
    .card {
        width: 90%;
    }
}

#avatar-display {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}